[Unit]
Description=WOMBAT Metal Detector Application
After=network.target sound.target
Wants=network.target



[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/wombat
Environment="PATH=/home/pi/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/bin/bash -c 'cd /home/pi/wombat && /home/pi/venv/bin/python websocket_server.py & /home/pi/venv/bin/python -m http.server 8080 & wait'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
